<div class="vista-nav-container" [class.collapsed]="isCollapsed()">
  <div class="vistas-list">
    <a class="vista-tab"
       *ngFor="let vista of vistas"
       [routerLink]="vista.id"
       routerLinkActive="tab-active"
       [class.tab-hover]="hoveredVista === vista.id"
       [attr.title]="isCollapsed() ? vista.nombre : ''"
       (mouseenter)="hoveredVista = vista.id"
       (mouseleave)="hoveredVista = null">
      <i [class]="vista.icon"></i>
      <span *ngIf="!isCollapsed()">{{ vista.nombre }}</span>
      <div class="tab-indicator"></div>
    </a>
  </div>
  
  <button class="toggle-button" 
          (click)="toggle()"
          [attr.title]="isCollapsed() ? 'Expandir navegación' : 'Colapsar navegación'">
    <i class="fas" [class.fa-chevron-right]="isCollapsed()" [class.fa-chevron-left]="!isCollapsed()"></i>
  </button>
</div>
