<nav class="module-nav-container" [class.collapsed]="navState.isCollapsed()">
  <div class="nav-header" *ngIf="!navState.isCollapsed()">
    <i class="fas fa-th-large"></i>
    <h3>Módulos</h3>
  </div>
  
  <div class="nav-tabs">
    <a *ngFor="let module of modules"
       [routerLink]="['/dashboard', module.id]"
       routerLinkActive="active"
       class="nav-tab"
       [class.active-hover]="isHovered === module.id"
       [attr.title]="navState.isCollapsed() ? module.name : ''"
       (mouseenter)="isHovered = module.id"
       (mouseleave)="isHovered = null">
      <i [class]="module.icon"></i>
      <span *ngIf="!navState.isCollapsed()">{{ module.name }}</span>
      <div class="tab-indicator"></div>
    </a>
  </div>
</nav>
