<nav class="navbar">
  <div class="container">
    <div class="nav-content">
      <div class="logo">
        <a routerLink="/home">DATA INSIGHT</a>
      </div>
      
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/catalogo" routerLinkActive="active">Catálogo</a></li>
      </ul>
      
      <div class="nav-actions">
        <button *ngIf="!authService.isAuthenticated()" class="btn-login" routerLink="/login">Login</button>
        <button *ngIf="authService.isAuthenticated()" class="btn-login" routerLink="/dashboard">Dashboard</button>
      </div>
    </div>
  </div>
</nav>
